---
layout: list
---

<a href="{{ site.url }}/fl0m/"><h2>fl0m</h2></a>
{% assign filesByMonth = site.fl0m | group_by_exp:"file", "file.date | date: '%B %Y'" | reverse %}
{% for month in filesByMonth limit:3 %}
  <div class="ps-4" id="fl0m-home-{{ month.name | slugify }}-collapse" data-collapse="persist">
    <h3 class="open">{{ month.name }}</h3>
    <ul>
      {% for file in month.items reversed %}
      <div class="ps-4">
        <li><a href="{{ site.url }}{{ file.url }}">{{ file.date | date_to_string }}</a></li>
      </div>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
