    <title>{% if page.title %} {{ page.title }} — {% endif %} {{ site.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:site_name" content="{{site.title}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@4.1.1/normalize.css" integrity="sha256-1lv2bwwmN04FUBRbJktdvft+a3jEji5oRTWDh4vDCAE=" crossorigin="no-cors">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link type="application/opensearchdescription+xml" rel="search" href="{{ site.url }}/search.xml"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.collapse.js"></script>
