---
layout: list
title: "fl0m Channel Statistics"
permalink: /fl0m/
---

{% assign filesByMonth = site.fl0m | group_by_exp:"file", "file.date | date: '%B %Y'" | reverse %}
{% for month in filesByMonth %}
  <div id="fl0m-list-{{ month.name | slugify }}-collapse" data-collapse="persist">    
    <h3 class="open">{{ month.name }}</h3>
    <ul>
      {% for file in month.items %}
      <li><a href="{{ site.url }}{{ file.url }}">{{ file.date | date_to_string: "ordinal", "US" }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}