a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0366d6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}
h1,
h2 {
  border-bottom: 1px solid #eaecef;
}
table,
table.dataTable {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 16px
}
table.dataTable {
  border-collapse: none !important;
}
table th,
table td,
table.dataTable tbody td,
table.dataTable tbody tr {
  /*width: 100%;*/
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
table tr,
table.dataTable tbody {
  /*width: 100%;*/
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
table tr:nth-child(2n),
table.dataTable tbody tr:nth-child(2n) {
  background-color: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c2c6ca;
    background-color: #212224;
  }
  a {
    color: #0096FF;
    text-decoration: none;
  }
  h1,
  h2 {
    border-bottom: 1px solid #272b2b;
  }
  table {
    color: #0a0a0a;
    filter: hue-rotate(180deg) invert(0.9);
  }
}