<footer class="mt-auto pb-2 text-center">
  <div>
    <span class="footer">
      &copy; 2023<script>new Date().getFullYear()>2023&&document.write("-"+new Date().getFullYear());</script> monka.tv and <a href="{{ site.url }}/contributors">contributors</a>.<br>
      <a href="https://github.com/monkatv/website" target="_blank" rel="noopener noreferrer">Source</a>
    </span>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/anchor-js@5.0.0/anchor.min.js" integrity="sha256-aQmOEF2ZD4NM/xt4hthzREIo/2PFkOX/g01WjxEV7Ys=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>anchors.add();</script>
</footer>