<footer class="mt-auto pb-2 text-center">
  <div>
    <span class="text-muted">
      &copy; 2023<script>new Date().getFullYear()>2023&&document.write("-"+new Date().getFullYear());</script> monka.tv and <a href="{{ site.url }}/contributors">contributors</a>.</div>
      <a href="https://github.com/monkatv/website" target="_blank" rel="noopener noreferrer">Source</a>
    </span>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/5.0.0/anchor.min.js" integrity="sha512-byAcNWVEzFfu+tZItctr+WIMUJvpzT2kokkqcBq+VsrM3OrC5Aj9E2gh+hHpU0XNA3wDmX4sDbV5/nkhvTrj4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>anchors.add();</script>
</footer>
