<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add custom favicon -->
    <link rel="icon" href="./assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% seo %}
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1>
        <!-- TODO: Add custom icon but don't apply CSS filter -->
        <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
      </h1>
      {% endif %}

      {{ content }}

      <!-- Add custom footer -->
      <div class="footer border-top border-gray-light mt-5 pt-3 text-center text-gray">
        &copy; 2023<script>new Date().getFullYear()>2023&&document.write("-"+new Date().getFullYear());</script> monka.tv</div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
